<h1>Calculate the square of a number</h1>
<form action="/payment/results">
  <label>APR</label>
  <input type="text" name="users_apr">
  <label>Number of years</label>
  <input type="text" name="users_years">
  <label>Principal</label>
  <input type="text" name="users_pv">
  <button>Calculate monthly payment</button>
</form>
